<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : SimpleWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140225

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/signupformstyle.css" rel="stylesheet" type="text/css"/>
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href={{ url_for('home') }}>everybody</a></h1>
		</div>
		<div id="menu">
			<ul>
				<br>
			</ul>
		</div>
	</div>


          

                
                
<div class="container" class='formbody'>
  <h2>Login</h2>
  <h3 class='formh2'>Login to your account</h3>
  <form class="form" action="/login", method='POST'>
    
    <fieldset class="form-fieldset ui-input __first">
      <input name = 'NEW_USERNAME' type="text" id="username" tabindex="0" />
      <label for="username">
        <span class='formspan' data-text="Username">Username</span>
      </label>
    </fieldset>
    

    <fieldset class="form-fieldset ui-input __third">
      <input name='NEW_PASSWORD' type="password" id="new-password" />
      <label for="new-password">
        <span class='formspan' data-text="Password">Password</span>
      </label>
    </fieldset>
    
    
    <div class="form-footer">
      <button class="formbtn">Login</button>
    </div>
  </form>
</div>                
                
                
                
                
                
             
                
<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
